<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Mística</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="icon" href="../../../../favicon.ico">

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
    </head>
<body>

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
	<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="nav-overlay uk-navbar-left">
        <ul class="uk-navbar-nav">
        	<a class="uk-navbar-item uk-logo" href="/">Mística</a>
			<li><a href="/arts">Artículos</a></li>
			<li><a href="/formulas">Fórmulas</a></li>
        </ul>
    </div>

    <div class="nav-overlay uk-navbar-right">
        <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>

	<!--  Search -->
    <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        <div class="uk-navbar-item uk-width-expand">
            <form class="uk-search uk-search-navbar uk-width-1-1">
                <input class="uk-search-input" 
					name="search" 
					type="search" 
					placeholder="Búsqueda" autofocus>
            </form>
        </div>
        <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay;" href="#"></a>
    </div>

	</nav>
</div> <!-- sticky -->

	{{{body}}}

  </body>
</html>






