	
<!---------------- ARTICULOS ------------------>

<table class="uk-table uk-table-striped uk-table-small">
  <thead>
	<tr>
		<th>Art</th>
		<th>Costo</th>
	</tr>
  </thead>
  <tbody>
  {{#each arts}}
		<tr id="tr-{{this._id}}" onclick="fireModal('{{this._id}}');"> 
		<td>{{this.nombre}}</td>
		<td>{{this.costo}}</td>
	</tr>
  {{/each}}
  </tbody>
</table>


{{> arts-form }}


<script src='js/ajax.js'></script>
<script>

var setInnerHTMLById = (id,value) => {
	document.getElementById(id).innerHTML = value;
};
 
var setValueById = (id,value) => {
	document.getElementById(id).value = value;
};

// Populate modal asyncally with art data
var fireModal = function (id) {

	console.log('FIREMODAL: ',id);


	var modal = document.getElementById('arts-modal');

	document.getElementById('art-datos-form').action = "/arts/edit/" + id;

	UIkit.util.on(modal, 'beforeshow', function (e) {
		Ajax.get('arts/'+id, (result) => {
			var json = JSON.parse(result);
			setInnerHTMLById('art-titulo', json.nombre);
			setInnerHTMLById('art-nombre-borrar', json.nombre);

			var lista = ["nombre", "costo", "tamano", "unidades"];
			for (var field in lista) {
				setValueById('campo-'+lista[field], json[lista[field]]);
			}
		});
	});
	UIkit.modal(modal).show();
}; 

</script>



