	
<!---------------- ARTICULOS ------------------>

<table class="uk-table uk-table-striped uk-table-small">
  <thead>
	<tr>
		<th>Art</th>
		<th>Costo</th>
	</tr>
  </thead>
  <tbody>
  {{#each arts}}
		<tr id="tr-{{this._id}}" onclick="fireModal('{{this._id}}');"> 
		<td>{{this.nombre}}</td>
		<td>{{this.costo}}</td>
	</tr>
  {{/each}}
  </tbody>
</table>


{{> arts-form }}

<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

<script src='js/ajax.js'></script>
<script>

var MODAL = document.getElementById('arts-modal');
var FORM = document.getElementById('art-datos-form');

var setInnerHTMLById = (id,value) => {
	document.getElementById(id).innerHTML = value;
};
 
var setValueById = (id,value) => {	
	document.getElementById(id).value = value;
};

var lista = ["nombre", "costo", "tamano", "unidades"];

var fireModal = function (id) {
	//console.log('FIREMODAL: ',id);
	FORM.action = "/arts/edit/" + id;
	var resultToForm = (result) => {
		//console.log(result);
		var art = JSON.parse(result);
		setInnerHTMLById('art-titulo', art.nombre);
		setInnerHTMLById('art-nombre-borrar', art.nombre);
		for (var field in lista) {
			setValueById('campo-'+lista[field], art[lista[field]]);
		}
	};
	Ajax.get('arts/'+id, resultToForm);
	UIkit.modal(MODAL).show();
}; 
</script>



