



<!---------------- FORMULAS ------------------------->

    <div class="container">

      <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->



