	
<!---------------- FORMULAS ------------------>
<div class="uk-margin-left">
<a class="uk-button uk-button-primary uk-button-small uk-align-left" 
	onclick="fireModal(0);">Nueva</a>
</div>
<table class="uk-table uk-table-striped uk-table-small">
  <thead>
	<tr>
		<th>Fórmula</th>
		<th>Costo</th>
	</tr>
  </thead>
  <tbody>
  {{#each form}}
		<tr id="tr-{{this._id}}" onclick="fireModal('{{this._id}}');"> 
		<td>{{this.nombre}}</td>
	</tr>
  {{/each}}
  </tbody>
</table>


{{> forms-form }}

<!-- 
<script src='js/ajax.js'></script>
<script>

var MODAL = document.getElementById('arts-modal');
var FORM = document.getElementById('art-datos-form');

var setInnerHTMLById = (id,value) => {
	document.getElementById(id).innerHTML = value;
};
 
var setValueById = (id,value) => {	
	document.getElementById(id).value = value;
};

var lista = ["nombre", "costo", "tamano", "unidades"];

var fireModal = function (id) {
	
	var resultToForm = (result) => {
		var art = JSON.parse(result);
		setInnerHTMLById('art-titulo', art.nombre);
		setInnerHTMLById('art-nombre-borrar', art.nombre);
		document.getElementById('boton-borrar-art').href = "/arts/borrar/"+id;
		document.getElementById('boton-copiar-art').href = "/arts/copiar/"+id;
		setInnerHTMLById('art-nombre-copiar', art.nombre);

		for (var field in lista) {
			setValueById('campo-'+lista[field], art[lista[field]]);
		}
	};

	if(id == 0) {
		setInnerHTMLById('art-titulo', "Nuevo artículo");
		for (var field in lista) {
			setValueById('campo-'+lista[field], "");
		}
		setValueById('campo-id', "");
		FORM.action = "/arts/nuevo";
	} else {
		Ajax.get('/arts/'+id, resultToForm);
		FORM.action = "/arts/edit/" + id;
	}
	UIkit.modal(MODAL).show();
}; 
</script>
-->


