
<!---------------- INSUMOS ------------------------->

    <ons-toolbar>

      <div class="center">
        {{ title }}
      </div>
      <div class="toolbar__right">
         <span class="toolbar-button">
            <i class="zmdi zmdi-plus"></i>
         </span>
         <span class="toolbar-button">
            <i class="zmdi zmdi-delete"></i>
         </span>
         <span class="toolbar-button">
            <i class="zmdi zmdi-edit"></i>
         </span>
      </div>
    </ons-toolbar>
		{{ mensaje }}








