
<!---------------- INSUMOS ------------------------->

    <div class="container">
	{{title}}
	<p><a id="insumo_nuevo" class="btn  btn-primary pull-left" href="/insumos/nuevo">Nuevo</a></p>
	</div>
	<div class="container">
    <p>
		{{#each insumos}}
		  <p>{{@index}}. {{this.nombre}} -> {{this.costo}}</p>
		{{/each}}
	</p> 
    </div> <!-- /container -->





